.container {
  display: block;
  background-color:#f1efef;
  width: 100%;
  height: 700px;
}

.bloco_rendimentos {
  display: inline-block;
  margin: auto 5em;
}

.bloco_indexacao{
  display: inline-block;
  margin: auto 5em;
}